In [29]:
Alamedadf =pd.read_csv('Data/AlmedaMIDPoint.csv')
Alpinedf =pd.read_csv('Data/AlpineMIDPoint.csv')
Humboldtdf =pd.read_csv('Data/HumboltMIDPoint.csv')
Lakedf =pd.read_csv('Data/LakeMIDPoint.csv')
LosAngelesdf =pd.read_csv('Data/LosAngelesMIDPoint.csv')
Nevadadf =pd.read_csv('Data/NevadaMIDPoint.csv')
SanMateodf =pd.read_csv('Data/SanMateoMIDPoint.csv')
SantaClaradf =pd.read_csv('Data/SantaClaraMIDPoint.csv')
Yubadf =pd.read_csv('Data/YubaMIDPoint.csv')
Mendocinodf =pd.read_csv('Data/MendocinoMIDPoint.csv')
Monodf =pd.read_csv('Data/MonoMIDPoint.csv')
Riversidedf =pd.read_csv('Data/RiversideMIDPoint.csv')
SanBenitodf =pd.read_csv('Data/SanBenitoMIDPoint.csv')
SanLuisObispodf =pd.read_csv('Data/SanLuisObisboMIDPoint.csv')
SantaBarbaradf =pd.read_csv('Data/SantaBarbaraMIDPoint.csv')
Sutterdf =pd.read_csv('Data/SutterMIDPoint.csv')
Tularedf =pd.read_csv('Data/TulareMIDPoint.csv')
Buttedf =pd.read_csv('Data/ButteMIDPoint.csv')
Solanodf =pd.read_csv('Data/SolanoMIDPoint.csv')
Calaverasdf =pd.read_csv('Data/CalaverasMIDPoint.csv')
Colusadf =pd.read_csv('Data/ColusaMIDPoint.csv')
Montereydf =pd.read_csv('Data/MontereyMIDPoint.csv')
Stanislausdf =pd.read_csv('Data/StanislausMIDPoint.csv')
SanBernardinodf =pd.read_csv('Data/SanBernardinoMIDPoint.csv')
DelNortedf =pd.read_csv('Data/DelNorteMIDPoint.csv')
Plumasdf =pd.read_csv('Data/PlumasMIDPoint.csv')
Shastadf =pd.read_csv('Data/ShastaMIDPoint.csv')
Siskiyoudf =pd.read_csv('Data/SiskiyouMIDPoint.csv')
Marindf =pd.read_csv('Data/MarinMIDPoint.csv')
SanJoaquindf =pd.read_csv('Data/SanJoaquinMIDPoint.csv')
ContraCostadf =pd.read_csv('Data/ContraCostaMIDPoint.csv')
Glenndf =pd.read_csv('Data/GlennMIDPoint.csv')
Imperialdf =pd.read_csv('Data/ImperialMIDPoint.csv')
Placerdf =pd.read_csv('Data/PlacerMIDPoint.csv')
Kingsdf =pd.read_csv('Data/KingsMIDPoint.csv')
Lassendf =pd.read_csv('Data/LassenMIDPoint.csv')
Tuolumnedf =pd.read_csv('Data/TuolumneMIDPoint.csv')
SanFranciscodf =pd.read_csv('Data/SanFranciscoMIDPoint.csv')
Fresnodf =pd.read_csv('Data/FresnoMIDPoint.csv')
Modocdf =pd.read_csv('Data/ModocMIDPoint.csv')
SantaCruzdf =pd.read_csv('Data/SantaCruzMIDPoint.csv')
Tehamadf =pd.read_csv('Data/TehamaMIDPoint.csv')
Venturadf =pd.read_csv('Data/VenturaMIDPoint.csv')
SanDiegodf =pd.read_csv('Data/SanDiegoMIDPoint.csv')
Kerndf =pd.read_csv('Data/KernMIDPoint.csv')
ElDoradodf =pd.read_csv('Data/ElDoradoMIDPoint.csv')
Sierradf =pd.read_csv('Data/SierraMIDPoint.csv')
Orangedf =pd.read_csv('Data/OrangeMIDPoint.csv')
Yolodf =pd.read_csv('Data/YoloMIDPoint.csv')
Trinitydf =pd.read_csv('Data/TrinityMIDPoint.csv')
Maderadf =pd.read_csv('Data/MaderaMIDPoint.csv')
Inyodf =pd.read_csv('Data/InyoMIDPoint.csv')
Amadordf =pd.read_csv('Data/AmadorMIDPoint.csv')
Sacramentodf =pd.read_csv('Data/SacramentoMIDPoint.csv')
Napadf =pd.read_csv('Data/NapaMIDPoint.csv')
Sonomadf =pd.read_csv('Data/SonomaMIDPoint.csv')
Mariposadf =pd.read_csv('Data/MariposaMIDPoint.csv')
Merceddf = pd.read_csv('Data/MercedMIDPoint.csv')

In [ ]:
Alamedadf,
Alpinedf,
Humboldtdf,
Lakedf,
LosAngelesdf,
Nevadadf,
SanMateodf,
SantaClaradf,
Yubadf,
Mendocinodf,
Monodf,
Riversidedf,
SanBenitodf,
SanLuisObispodf,
SantaBarbaradf,
Sutterdf,
Tularedf,
Buttedf,
Solanodf,
Calaverasdf,
Colusadf,
Montereydf,
Stanislausdf,
SanBernardinodf,
DelNortedf,
Plumasdf,
Shastadf,
Siskiyoudf,
Marindf,
SanJoaquindf,
ContraCostadf,
Glenndf,
Imperialdf,
Placerdf,
Kingsdf,
Lassendf,
Tuolumnedf,
SanFranciscodf,
Fresnodf,
Modocdf,
SantaCruzdf,
Tehamadf,
Venturadf,
SanDiegodf,
Kerndf,
ElDoradodf,
Sierradf,
Orangedf,
Yolodf,
Trinitydf,
Maderadf,
Inyodf,
Amadordf,
Sacramentodf,
Napadf,
Sonomadf,
Mariposadf,
Merceddf

In [69]:
Alamedadf['Name'] = 'Alameda'
Alpinedf['Name'] = 'Alpine'
Humboldtdf['Name'] = 'Humboldt'
Lakedf['Name'] = 'Lake'
LosAngelesdf['Name'] = 'Los Angeles'
Nevadadf['Name'] = 'Nevada'
SanMateodf['Name'] = 'San Mateo'
SantaClaradf['Name'] = 'Santa Clara'
Yubadf['Name'] = 'Yuba'
Mendocinodf['Name'] = 'Mendocino'
Monodf['Name'] = 'Mono'
Riversidedf['Name'] = 'Riverside'
SanBenitodf['Name'] = 'San Benito'
SanLuisObispodf['Name'] = 'San Luis Obispo'
SantaBarbaradf['Name'] = 'Santa Barbara'
Sutterdf['Name'] = 'Sutter'
Tularedf['Name'] = 'Tulare'
Buttedf['Name'] = 'Butte'
Solanodf['Name'] = 'Solano'
Calaverasdf['Name'] = 'Calaveras'
Colusadf['Name'] = 'Colusa'
Montereydf['Name'] = 'Monterey'
Stanislausdf['Name'] = 'Stanislaus'
SanBernardinodf['Name'] = 'San Bernardino'
DelNortedf['Name'] = 'Del Norte'
Plumasdf['Name'] = 'Plumas'
Shastadf['Name'] = 'Shasta'
Siskiyoudf['Name'] = 'Siskiyou'
Marindf['Name'] = 'Marin'
SanJoaquindf['Name'] = 'San Joaquin'
ContraCostadf['Name'] = 'Contra Costa'
Glenndf['Name'] = 'Glenn'
Imperialdf['Name'] = 'Imperial'
Placerdf['Name'] = 'Placer'
Kingsdf['Name'] = 'Kings'
Lassendf['Name'] = 'Lassen'
Tuolumnedf['Name'] = 'Tuolumne'
SanFranciscodf['Name'] = 'San Francisco'
Fresnodf['Name'] = 'Fresno'
Modocdf['Name'] = 'Modoc'
SantaCruzdf['Name'] = 'Santa Cruz'
Tehamadf['Name'] = 'Tehama'
Venturadf['Name'] = 'Ventura'
SanDiegodf['Name'] = 'San Diego'
Kerndf['Name'] = 'Kern'
ElDoradodf['Name'] = 'El Dorado'
Sierradf['Name'] = 'Sierra'
Orangedf['Name'] = 'Orange'
Yolodf['Name'] = 'Yolo'
Trinitydf['Name'] = 'Trinity'
Maderadf['Name'] = 'Madera'
Inyodf['Name'] = 'Inyo'
Amadordf['Name'] = 'Amador'
Sacramentodf['Name'] = 'Sacramento'
Napadf['Name'] = 'Napa'
Sonomadf['Name'] = 'Sonoma'
Mariposadf['Name'] = 'Mariposa'
Merceddf['Name'] = 'Merced'

Alamedadf = Alamedadf.loc[:,'YEAR':'Name']
Alpinedf = Alpinedf.loc[:,'YEAR':'Name']
Humboldtdf = Humboldtdf.loc[:,'YEAR':'Name']
Lakedf = Lakedf.loc[:,'YEAR':'Name']
LosAngelesdf = LosAngelesdf.loc[:,'YEAR':'Name']
Nevadadf = Nevadadf.loc[:,'YEAR':'Name']
SanMateodf = SanMateodf.loc[:,'YEAR':'Name']
Santadf = Claradf = SantaClaradf.loc[:,'YEAR':'Name']
Yubadf = Yubadf.loc[:,'YEAR':'Name']
Mendocinodf = Mendocinodf.loc[:,'YEAR':'Name']
Monodf = Monodf.loc[:,'YEAR':'Name']
Riversidedf = Riversidedf.loc[:,'YEAR':'Name']
SanBenitodf = SanBenitodf.loc[:,'YEAR':'Name']
SanLuisObispodf = SanLuisObispodf.loc[:,'YEAR':'Name']
SantaBarbaradf = SantaBarbaradf.loc[:,'YEAR':'Name']
Sutterdf = Sutterdf.loc[:,'YEAR':'Name']
Tularedf = Tularedf.loc[:,'YEAR':'Name']
Buttedf = Buttedf.loc[:,'YEAR':'Name']
Solanodf = Solanodf.loc[:,'YEAR':'Name']
Calaverasdf = Calaverasdf.loc[:,'YEAR':'Name']
Colusadf = Colusadf.loc[:,'YEAR':'Name']
Montereydf = Montereydf.loc[:,'YEAR':'Name']
Stanislausdf = Stanislausdf.loc[:,'YEAR':'Name']
SanBernardinodf = SanBernardinodf.loc[:,'YEAR':'Name']
DelNortedf = DelNortedf.loc[:,'YEAR':'Name']
Plumasdf = Plumasdf.loc[:,'YEAR':'Name']
Shastadf = Shastadf.loc[:,'YEAR':'Name']
Siskiyoudf = Siskiyoudf.loc[:,'YEAR':'Name']
Marindf = Marindf.loc[:,'YEAR':'Name']
SanJoaquindf = SanJoaquindf.loc[:,'YEAR':'Name']
ContraCostadf = ContraCostadf.loc[:,'YEAR':'Name']
Glenndf = Glenndf.loc[:,'YEAR':'Name']
Imperialdf = Imperialdf.loc[:,'YEAR':'Name']
Placerdf = Placerdf.loc[:,'YEAR':'Name']
Kingsdf = Kingsdf.loc[:,'YEAR':'Name']
Lassendf = Lassendf.loc[:,'YEAR':'Name']
Tuolumnedf = Tuolumnedf.loc[:,'YEAR':'Name']
SanFranciscodf = SanFranciscodf.loc[:,'YEAR':'Name']
Fresnodf = Fresnodf.loc[:,'YEAR':'Name']
Modocdf = Modocdf.loc[:,'YEAR':'Name']
SantaCruzdf = SantaCruzdf.loc[:,'YEAR':'Name']
Tehamadf = Tehamadf.loc[:,'YEAR':'Name']
Venturadf = Venturadf.loc[:,'YEAR':'Name']
SanDiegodf = SanDiegodf.loc[:,'YEAR':'Name']
Kerndf = Kerndf.loc[:,'YEAR':'Name']
ElDoradodf = ElDoradodf.loc[:,'YEAR':'Name']
Sierradf = Sierradf.loc[:,'YEAR':'Name']
Orangedf = Orangedf.loc[:,'YEAR':'Name']
Yolodf = Yolodf.loc[:,'YEAR':'Name']
Trinitydf = Trinitydf.loc[:,'YEAR':'Name']
Maderadf = Maderadf.loc[:,'YEAR':'Name']
Inyodf = Inyodf.loc[:,'YEAR':'Name']
Amadordf = Amadordf.loc[:,'YEAR':'Name']
Sacramentodf = Sacramentodf.loc[:,'YEAR':'Name']
Napadf = Napadf.loc[:,'YEAR':'Name']
Sonomadf = Sonomadf.loc[:,'YEAR':'Name']
Mariposadf = Mariposadf.loc[:,'YEAR':'Name']
Merceddf = Merceddf.loc[:,'YEAR':'Name']


counties = [Alamedadf,Alpinedf,
Humboldtdf,
Lakedf,
LosAngelesdf,
Nevadadf,
SanMateodf,
SantaClaradf,
Yubadf,
Mendocinodf,
Monodf,
Riversidedf,
SanBenitodf,
SanLuisObispodf,
SantaBarbaradf,
Sutterdf,
Tularedf,
Buttedf,
Solanodf,
Calaverasdf,
Colusadf,
Montereydf,
Stanislausdf,
SanBernardinodf,
DelNortedf,
Plumasdf,
Shastadf,
Siskiyoudf,
Marindf,
SanJoaquindf,
ContraCostadf,
Glenndf,
Imperialdf,
Placerdf,
Kingsdf,
Lassendf,
Tuolumnedf,
SanFranciscodf,
Fresnodf,
Modocdf,
SantaCruzdf,
Tehamadf,
Venturadf,
SanDiegodf,
Kerndf,
ElDoradodf,
Sierradf,
Orangedf,
Yolodf,
Trinitydf,
Maderadf,
Inyodf,
Amadordf,
Sacramentodf,
Napadf,
Sonomadf,
Mariposadf,
Merceddf]

data = pd.concat(counties)
data = data.loc[:, 'YEAR':'Name']

In [70]:
data

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN,Name
0,2011,0.80,0.80,0.86,0.84,0.70,0.58,0.48,0.29,0.17,0.44,0.48,0.48,0.58,Alameda
1,2012,0.51,0.55,0.62,0.69,0.53,0.42,0.23,0.16,0.13,0.24,0.50,0.76,0.45,Alameda
2,2013,0.82,0.77,0.69,0.57,0.46,0.26,0.17,0.15,0.22,0.23,0.30,0.48,0.42,Alameda
3,2014,0.46,0.53,0.60,0.57,0.48,0.27,0.17,0.14,0.20,0.27,0.48,0.79,0.41,Alameda
4,2015,0.83,0.82,0.73,0.59,0.50,0.41,0.21,0.16,0.14,0.20,0.49,0.59,0.47,Alameda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,2017,0.73,0.84,0.80,0.65,0.46,0.27,0.10,0.09,0.12,0.16,0.33,0.39,0.41,Merced
7,2018,0.46,0.45,0.53,0.51,0.38,0.18,0.11,0.09,0.09,0.14,0.23,0.52,0.30,Merced
8,2019,0.59,0.74,0.73,0.57,0.46,0.32,0.12,0.09,0.09,0.09,0.13,0.55,0.37,Merced
9,2020,0.55,0.51,0.49,0.49,0.38,0.17,0.09,0.09,0.08,0.08,0.27,0.38,0.30,Merced
10,2021,0.45,0.56,0.52,0.43,0.24,0.12,0.09,0.08,0.08,0.23,0.44,0.51,0.31,Merced

In [2]:
import geopandas as gpd
def read_file(path):
    return gpd.read_file(path)
geodata = read_file('county_ca.geojson')

In [3]:
geodata

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,rmapshaperid,geometry
0,06,001,01675839,0500000US06001,06001,Alameda,06,1914240928,212981785,0,"POLYGON ((-122.31520 37.89680, -122.27110 37.9..."
1,06,003,01675840,0500000US06003,06003,Alpine,06,1912243121,12557304,1,"POLYGON ((-120.07240 38.70280, -119.96490 38.7..."
2,06,023,01681908,0500000US06023,06023,Humboldt,06,9241007147,1254299668,2,"POLYGON ((-124.06550 41.46470, -123.77060 41.4..."
3,06,033,00277281,0500000US06033,06033,Lake,06,3254288304,188912510,3,"POLYGON ((-122.88540 39.58010, -122.73560 39.5..."
4,06,037,00277283,0500000US06037,06037,Los Angeles,06,10510433235,1794939537,4,"MULTIPOLYGON (((-118.60440 33.47860, -118.5445..."
5,06,057,01682927,0500000US06057,06057,Nevada,06,2480638607,41513172,5,"POLYGON ((-121.02210 39.39160, -120.99230 39.4..."
6,06,081,00277305,0500000US06081,06081,San Mateo,06,1161542720,757525243,6,"POLYGON ((-122.50240 37.70810, -122.39140 37.7..."
7,06,085,00277307,0500000US06085,06085,Santa Clara,06,3341645574,35831344,7,"POLYGON ((-122.10870 37.46630, -122.04650 37.4..."
8,06,115,00277322,0500000US06115,06115,Yuba,06,1636983167,30986706,8,"POLYGON ((-121.62380 39.29560, -121.56400 39.3..."
9,06,045,00277287,0500000US06045,06045,Mendocino,06,9081415725,962953346,9,"POLYGON ((-124.02330 40.00130, -123.54450 40.0..."
10,06,051,00277290,0500000US06051,06051,Mono,06,7896722400,214695408,10,"POLYGON ((-119.63920 38.32690, -119.62210 38.3..."
11,06,065,00277297,0500000US06065,06065,Riverside,06,18664463540,250908223,11,"POLYGON ((-114.43540 34.07970, -114.43830 34.0..."
12,06,069,00277299,0500000US06069,06069,San Benito,06,3596741869,4555000,12,"POLYGON ((-121.64400 36.89400, -121.58140 36.8..."
13,06,079,00277304,0500000US06079,06079,San Luis Obispo,06,8548549787,815580311,13,"POLYGON ((-121.34640 35.79520, -120.87570 35.7..."
14,06,083,00277306,0500000US06083,06083,Santa Barbara,06,7083927512,2729816973,14,"MULTIPOLYGON (((-119.92990 34.05970, -119.9192..."
15,06,101,00277315,0500000US06101,06101,Sutter,06,1560236924,15745939,15,"POLYGON ((-121.90830 39.30390, -121.63020 39.3..."
16,06,107,00277318,0500000US06107,06107,Tulare,06,12494776875,37391591,16,"POLYGON ((-118.36060 36.74480, -118.35880 36.6..."
17,06,007,01675842,0500000US06007,06007,Butte,06,4238422715,105325812,17,"POLYGON ((-121.43690 40.15190, -121.37650 40.1..."
18,06,095,00277312,0500000US06095,06095,Solano,06,2128379537,218647641,18,"POLYGON ((-122.10330 38.51330, -122.05740 38.5..."
19,06,009,01675885,0500000US06009,06009,Calaveras,06,2641819830,43808937,19,"POLYGON ((-120.07250 38.50990, -120.05360 38.4..."
20,06,011,01675902,0500000US06011,06011,Colusa,06,2980372943,14581043,20,"POLYGON ((-122.73910 39.38330, -122.13600 39.3..."
21,06,053,00277291,0500000US06053,06053,Monterey,06,8496731189,1270747397,21,"POLYGON ((-121.81060 36.85060, -121.78700 36.8..."
22,06,099,00277314,0500000US06099,06099,Stanislaus,06,3870867629,51101821,22,"POLYGON ((-121.47260 37.48220, -121.47190 37.4..."
23,06,071,00277300,0500000US06071,06071,San Bernardino,06,51947553553,123844759,23,"POLYGON ((-117.66730 34.82250, -117.63200 34.8..."
24,06,015,01682074,0500000US06015,06015,Del Norte,06,2606282680,578761025,24,"POLYGON ((-123.51790 42.00090, -123.56540 41.9..."
25,06,063,00277296,0500000US06063,06063,Plumas,06,6612371702,156389436,25,"POLYGON ((-121.49760 40.44560, -121.32780 40.4..."
26,06,089,01682610,0500000US06089,06089,Shasta,06,9778188572,186530168,26,"POLYGON ((-122.49840 41.18270, -122.12610 41.1..."
27,06,093,00277311,0500000US06093,06093,Siskiyou,06,16259635638,179864756,27,"POLYGON ((-123.51790 42.00090, -123.34760 41.9..."
28,06,041,00277285,0500000US06041,06041,Marin,06,1348069363,796944863,28,"POLYGON ((-123.00290 38.29570, -122.96610 38.3..."
29,06,077,00277303,0500000US06077,06077,San Joaquin,06,3603647025,91127543,29,"POLYGON ((-121.58000 38.09440, -121.57550 38.1..."
30,06,013,01675903,0500000US06013,06013,Contra Costa,06,1871895181,209854843,30,"POLYGON ((-122.26970 38.06030, -122.18390 38.0..."
31,06,021,00277275,0500000US06021,06021,Glenn,06,3403106647,33749275,31,"POLYGON ((-122.93770 39.79820, -122.47860 39.7..."
32,06,025,00277277,0500000US06025,06025,Imperial,06,10817378445,790204917,32,"POLYGON ((-116.08520 33.42590, -115.46750 33.4..."
33,06,061,00277295,0500000US06061,06061,Placer,06,3644332280,246390570,33,"POLYGON ((-121.41480 38.99650, -121.36560 39.0..."
34,06,031,00277280,0500000US06031,06031,Kings,06,3598582456,5468555,34,"POLYGON ((-120.31510 35.90720, -119.95910 36.1..."
35,06,035,01693324,0500000US06035,06035,Lassen,06,11761620852,463438654,35,"POLYGON ((-121.33180 41.18390, -120.88260 41.1..."
36,06,109,00277319,0500000US06109,06109,Tuolumne,06,5752116004,138684372,36,"POLYGON ((-120.02000 38.43350, -119.88470 38.3..."
37,06,075,00277302,0500000US06075,06075,San Francisco,06,121455687,479135404,37,"POLYGON ((-122.39140 37.70830, -122.50240 37.7..."
38,06,019,00277274,0500000US06019,06019,Fresno,06,15433278958,135402551,38,"POLYGON ((-120.54170 37.04450, -120.48380 36.9..."
39,06,049,00277289,0500000US06049,06049,Modoc,06,10140841282,745929084,39,"POLYGON ((-121.44750 41.99720, -121.03520 41.9..."
40,06,087,00277308,0500000US06087,06087,Santa Cruz,06,1152967332,419570851,40,"POLYGON ((-122.15230 37.28610, -122.08980 37.2..."
41,06,103,01692767,0500000US06103,06103,Tehama,06,7639716445,32276063,41,"POLYGON ((-123.06540 40.28700, -122.97690 40.3..."
42,06,111,00277320,0500000US06111,06111,Ventura,06,4773381391,945947791,42,"MULTIPOLYGON (((-119.44240 34.90130, -119.3825..."
43,06,073,00277301,0500000US06073,06073,San Diego,06,10895227071,826282961,43,"POLYGON ((-117.59610 33.38720, -117.57850 33.4..."
44,06,029,02054176,0500000US06029,06029,Kern,06,21061723516,79488735,44,"POLYGON ((-120.19410 35.78920, -119.53810 35.7..."
45,06,017,00277273,0500000US06017,06017,El Dorado,06,4423442340,203356517,45,"POLYGON ((-121.14100 38.71200, -121.08730 38.8..."
46,06,091,00277310,0500000US06091,06091,Sierra,06,2468686374,23299110,46,"POLYGON ((-121.00950 39.63950, -120.94010 39.6..."
47,06,059,00277294,0500000US06059,06059,Orange,06,2048156380,407152512,47,"POLYGON ((-117.78330 33.94640, -117.67370 33.8..."
48,06,113,00277321,0500000US06113,06113,Yolo,06,2628233324,22752821,48,"POLYGON ((-122.34020 38.92420, -121.83550 38.9..."
49,06,105,00277317,0500000US06105,06105,Trinity,06,8234308182,73407949,49,"POLYGON ((-123.40830 41.17990, -123.35320 41.1..."
50,06,039,00277284,0500000US06039,06039,Madera,06,5535058332,41957139,50,"POLYGON ((-120.54170 37.04450, -120.47670 37.0..."
51,06,027,01804637,0500000US06027,06027,Inyo,06,26368485935,119089390,51,"POLYGON ((-118.77500 37.46310, -118.34840 37.4..."
52,06,005,01675841,0500000US06005,06005,Amador,06,1539947599,29470568,52,"POLYGON ((-121.02750 38.50830, -121.00970 38.5..."
53,06,067,00277298,0500000US06067,06067,Sacramento,06,2499183604,76073827,53,"POLYGON ((-121.59330 38.31310, -121.52160 38.3..."
54,06,055,00277292,0500000US06055,06055,Napa,06,1938262912,104154062,54,"POLYGON ((-122.62740 38.66750, -122.46390 38.7..."
55,06,097,01657246,0500000US06097,06097,Sonoma,06,4081401191,497545934,55,"POLYGON ((-123.53350 38.76840, -123.49700 38.7..."
56,06,043,00277286,0500000US06043,06043,Mariposa,06,3752425654,36268135,56,"POLYGON ((-119.30900 37.77800, -119.58360 37.5..."
57,06,047,00277288,0500000US06047,06047,Merced,06,5011540709,112771056,57,"POLYGON ((-121.22680 37.13480, -120.96420 37.3..."

In [5]:
names= list(geodata['NAME'])
names#names['name_dup'] = names.loc['Names']

['Alameda',
 'Alpine',
 'Humboldt',
 'Lake',
 'Los Angeles',
 'Nevada',
 'San Mateo',
 'Santa Clara',
 'Yuba',
 'Mendocino',
 'Mono',
 'Riverside',
 'San Benito',
 'San Luis Obispo',
 'Santa Barbara',
 'Sutter',
 'Tulare',
 'Butte',
 'Solano',
 'Calaveras',
 'Colusa',
 'Monterey',
 'Stanislaus',
 'San Bernardino',
 'Del Norte',
 'Plumas',
 'Shasta',
 'Siskiyou',
 'Marin',
 'San Joaquin',
 'Contra Costa',
 'Glenn',
 'Imperial',
 'Placer',
 'Kings',
 'Lassen',
 'Tuolumne',
 'San Francisco',
 'Fresno',
 'Modoc',
 'Santa Cruz',
 'Tehama',
 'Ventura',
 'San Diego',
 'Kern',
 'El Dorado',
 'Sierra',
 'Orange',
 'Yolo',
 'Trinity',
 'Madera',
 'Inyo',
 'Amador',
 'Sacramento',
 'Napa',
 'Sonoma',
 'Mariposa',
 'Merced']

In [75]:
countydf = geodata.merge(data,left_on ='NAME', right_on = 'Name', how ='outer')
countydf = countydf[['COUNTYFP', 'Name']]

countydf = countydf.drop_duplicates(subset = ["COUNTYFP", "Name"],keep='first')
countydf = countydf.dropna()
countydf

    COUNTYFP             Name
0        001          Alameda
11       003           Alpine
22       023         Humboldt
33       033             Lake
44       037      Los Angeles
55       057           Nevada
66       081        San Mateo
77       085      Santa Clara
88       115             Yuba
99       045        Mendocino
110      051             Mono
121      065        Riverside
132      069       San Benito
143      079  San Luis Obispo
154      083    Santa Barbara
165      101           Sutter
176      107           Tulare
187      007            Butte
198      095           Solano
209      009        Calaveras
220      011           Colusa
231      053         Monterey
242      099       Stanislaus
253      071   San Bernardino
264      015        Del Norte
275      063           Plumas
286      089           Shasta
297      093         Siskiyou
308      041            Marin
319      077      San Joaquin
330      013     Contra Costa
341      021            Glenn
352      025         Imperial
363      061           Placer
374      031            Kings
385      035           Lassen
396      109         Tuolumne
407      075    San Francisco
418      019           Fresno
429      049            Modoc
440      087       Santa Cruz
451      103           Tehama
462      111          Ventura
473      073        San Diego
484      029             Kern
495      017        El Dorado
506      091           Sierra
517      059           Orange
528      113             Yolo
539      105          Trinity
550      039           Madera
561      027             Inyo
572      005           Amador
583      067       Sacramento
594      055             Napa
605      097           Sonoma
616      043         Mariposa
627      047           Merced

In [76]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('soil_test_database')
c = conn.cursor()

c.execute('CREATE TABLE IF NOT EXISTS counties (countyfp number, Name text)')
conn.commit()

c.execute('CREATE TABLE IF NOT EXISTS soil_wetness (YEAR number, JAN number, FEB number, MAR number, APR number, MAY number, JUN number, JUL number, AUG number, SEP number, OCT number, NOV number, DEC number, ANN number, Name text)')
conn.commit()

data.to_sql('soil_wetness', conn, if_exists='replace', index = False)


#c.execute('CREATE TABLE IF NOT EXISTS counties (countyfp number, Name text,PRIMARY_KEY(countyfp))')
#conn.commit()



countydf.to_sql('counties', conn, if_exists='replace', index = False)

58

In [80]:
c.execute('''  
SELECT * 
FROM soil_wetness
          ''')
wetness = pd.DataFrame(c.fetchall(),columns=['YEAR','JAN','FEB', 'MAR', 'APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC','ANN','Name'])
wetness.head()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN,Name
0,2011,0.80,0.80,0.86,0.84,0.70,0.58,0.48,0.29,0.17,0.44,0.48,0.48,0.58,Alameda
1,2012,0.51,0.55,0.62,0.69,0.53,0.42,0.23,0.16,0.13,0.24,0.50,0.76,0.45,Alameda
2,2013,0.82,0.77,0.69,0.57,0.46,0.26,0.17,0.15,0.22,0.23,0.30,0.48,0.42,Alameda
3,2014,0.46,0.53,0.60,0.57,0.48,0.27,0.17,0.14,0.20,0.27,0.48,0.79,0.41,Alameda
4,2015,0.83,0.82,0.73,0.59,0.50,0.41,0.21,0.16,0.14,0.20,0.49,0.59,0.47,Alameda

In [81]:
c.execute('''  
SELECT * 
FROM counties
          ''')

countydf = pd.DataFrame(c.fetchall(),columns=['county_fips_id','county_name'])

In [82]:
countydf

   county_fips_id      county_name
0             001          Alameda
1             003           Alpine
2             023         Humboldt
3             033             Lake
4             037      Los Angeles
5             057           Nevada
6             081        San Mateo
7             085      Santa Clara
8             115             Yuba
9             045        Mendocino
10            051             Mono
11            065        Riverside
12            069       San Benito
13            079  San Luis Obispo
14            083    Santa Barbara
15            101           Sutter
16            107           Tulare
17            007            Butte
18            095           Solano
19            009        Calaveras
20            011           Colusa
21            053         Monterey
22            099       Stanislaus
23            071   San Bernardino
24            015        Del Norte
25            063           Plumas
26            089           Shasta
27            093         Siskiyou
28            041            Marin
29            077      San Joaquin
30            013     Contra Costa
31            021            Glenn
32            025         Imperial
33            061           Placer
34            031            Kings
35            035           Lassen
36            109         Tuolumne
37            075    San Francisco
38            019           Fresno
39            049            Modoc
40            087       Santa Cruz
41            103           Tehama
42            111          Ventura
43            073        San Diego
44            029             Kern
45            017        El Dorado
46            091           Sierra
47            059           Orange
48            113             Yolo
49            105          Trinity
50            039           Madera
51            027             Inyo
52            005           Amador
53            067       Sacramento
54            055             Napa
55            097           Sonoma
56            043         Mariposa
57            047           Merced