In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import folium
conn = sqlite3.connect('soil_test_database')
c = conn.cursor()

c.execute('''  
SELECT * 
FROM soil_wetness
          ''')
wetness = pd.DataFrame(c.fetchall(),columns=['YEAR','JAN','FEB', 'MAR', 'APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC','ANN','Name'])
wetness

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN,Name
0,2011,0.80,0.80,0.86,0.84,0.70,0.58,0.48,0.29,0.17,0.44,0.48,0.48,0.58,Alameda
1,2012,0.51,0.55,0.62,0.69,0.53,0.42,0.23,0.16,0.13,0.24,0.50,0.76,0.45,Alameda
2,2013,0.82,0.77,0.69,0.57,0.46,0.26,0.17,0.15,0.22,0.23,0.30,0.48,0.42,Alameda
3,2014,0.46,0.53,0.60,0.57,0.48,0.27,0.17,0.14,0.20,0.27,0.48,0.79,0.41,Alameda
4,2015,0.83,0.82,0.73,0.59,0.50,0.41,0.21,0.16,0.14,0.20,0.49,0.59,0.47,Alameda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,2017,0.73,0.84,0.80,0.65,0.46,0.27,0.10,0.09,0.12,0.16,0.33,0.39,0.41,Merced
634,2018,0.46,0.45,0.53,0.51,0.38,0.18,0.11,0.09,0.09,0.14,0.23,0.52,0.30,Merced
635,2019,0.59,0.74,0.73,0.57,0.46,0.32,0.12,0.09,0.09,0.09,0.13,0.55,0.37,Merced
636,2020,0.55,0.51,0.49,0.49,0.38,0.17,0.09,0.09,0.08,0.08,0.27,0.38,0.30,Merced
637,2021,0.45,0.56,0.52,0.43,0.24,0.12,0.09,0.08,0.08,0.23,0.44,0.51,0.31,Merced

In [2]:
wetness['YEAR'] = wetness['YEAR'].astype('str')


wetness['Month'] = '1'
wetness['Day'] = '1'
wetness['Date'] = pd.to_datetime(wetness[['YEAR','Month','Day']], format = '%Y-%m')
Jandf = wetness[["January",'Date','Name']]
Jandf = Jandf.rename(columns={'January':'Value'})

wetness['Month'] = '2'
wetness['Day'] = '1'
wetness['Date'] = pd.to_datetime(wetness[['YEAR','Month','Day']], format = '%Y-%m')
Febdf = wetness[["February",'Date','Name']]
Febdf = Febdf.rename(columns={'February':'Value'})

wetness['Month'] = '3'
wetness['Day'] = '1'
wetness['Date'] = pd.to_datetime(wetness[['YEAR','Month','Day']], format = '%Y-%m')
Mardf = wetness[["March",'Date','Name']]
Mardf = Mardf.rename(columns={'March':'Value'})

wetness['Month'] = '4'
wetness['Day'] = '1'
wetness['Date'] = pd.to_datetime(wetness[['YEAR','Month','Day']], format = '%Y-%m')
Aprdf = wetness[["April",'Date','Name']]
Aprdf = Aprdf.rename(columns={'April':'Value'})

wetness['Month'] = '5'
wetness['Day'] = '1'
wetness['Date'] = pd.to_datetime(wetness[['YEAR','Month','Day']], format = '%Y-%m')
Maydf = wetness[["May",'Date','Name']]
Maydf = Maydf.rename(columns={'May':'Value'})

wetness['Month'] = '6'
wetness['Day'] = '1'
wetness['Date'] = pd.to_datetime(wetness[['YEAR','Month','Day']], format = '%Y-%m')
Jundf = wetness[["June",'Date','Name']]
Jundf = Jundf.rename(columns={'June':'Value'})

wetness['Month'] = '7'
wetness['Day'] = '1'
wetness['Date'] = pd.to_datetime(wetness[['YEAR','Month','Day']], format = '%Y-%m')
Juldf = wetness[["July",'Date','Name']]
Juldf = Juldf.rename(columns={'July':'Value'})

wetness['Month'] = '8'
wetness['Day'] = '1'
wetness['Date'] = pd.to_datetime(wetness[['YEAR','Month','Day']], format = '%Y-%m')
Augdf = wetness[["August",'Date','Name']]
Augdf = Augdf.rename(columns={'August':'Value'})

wetness['Month'] = '9'
wetness['Day'] = '1'
wetness['Date'] = pd.to_datetime(wetness[['YEAR','Month','Day']], format = '%Y-%m')
Sepdf = wetness[["September",'Date','Name']]
Sepdf = Sepdf.rename(columns={'September':'Value'})

wetness['Month'] = '10'
wetness['Day'] = '1'
wetness['Date'] = pd.to_datetime(wetness[['YEAR','Month', 'Day']],format = '%Y-%m')
Octdf = wetness[["October",'Date','Name']]
Octdf = Octdf.rename(columns={'October':'Value'})

wetness['Month'] = '11'
wetness['Day'] = '1'
wetness['Date'] = pd.to_datetime(wetness[['YEAR','Month','Day']], format = '%Y-%m')
Novdf = wetness[["November",'Date','Name']]
Novdf = Novdf.rename(columns={'November':'Value'})

wetness['Month'] = '12'
wetness['Day'] = '1'
wetness['Date'] = pd.to_datetime(wetness[['YEAR','Month','Day']], format = '%Y-%m')
Decdf = wetness[["December",'Date','Name']]
Decdf = Decdf.rename(columns={'December':'Value'})

timesdf = pd.concat([Jandf,Febdf,Mardf,Aprdf,Maydf,Jundf,Juldf,Augdf,Sepdf,Octdf,Novdf,Decdf])

KeyError: "['January'] not in index"

In [ ]:
timesdf

In [ ]:
alamedatimesdf = timesdf.loc[timesdf['Name']=='Alameda']
alamedatimesdf = alamedatimesdf.sort_values(by=['Date'])

In [ ]:
alamedatimesdf

In [ ]:
ax = alamedatimesdf.plot(x='Date', y='Value', figsize=(12,6))
xcoords = ['2011-01-01','2012-01-01','2013-01-01','2014-01-01','2015-01-01', '2016-01-01','2017-01-01', '2018-01-01', '2019-01-01', '2020-01-01',
          '2021-01-01']
for xc in xcoords:
    plt.axvline(x=xc, color='black', linestyle='--')

In [ ]:
from statsmodels.tsa.seasonal import seasonal_decompose

alamedatimesdf = timesdf.loc[timesdf['Name']=='Alameda']
alamedatimesdf = alamedatimesdf.sort_values(by=['Date'])

alamedatimesdf.set_index('Date', inplace=True)

analysis = alamedatimesdf[['Value']].copy()


decompose_result_mult = seasonal_decompose(analysis, model="multiplicative")

trend = decompose_result_mult.trend
seasonal = decompose_result_mult.seasonal
residual = decompose_result_mult.resid

fig = decompose_result_mult.plot()
fig.set_size_inches((15,15))
fig.tight_layout()
plt.show()

In [ ]:
folium_version

In [ ]:
import streamlit_folium as pd

print(seasonal_decompose.__version__)
# 0.22.0