In [3]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('soil_database')
c = conn.cursor()

c.execute('''  
SELECT * 
FROM soil_wetness
          ''')
wetness = pd.DataFrame(c.fetchall(),columns=['YEAR','JAN','FEB', 'MAR', 'APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC','ANN','Name'])
wetness

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN,Name
0,2011,0.80,0.80,0.86,0.84,0.70,0.58,0.48,0.29,0.17,0.44,0.48,0.48,0.58,Alameda
1,2012,0.51,0.55,0.62,0.69,0.53,0.42,0.23,0.16,0.13,0.24,0.50,0.76,0.45,Alameda
2,2013,0.82,0.77,0.69,0.57,0.46,0.26,0.17,0.15,0.22,0.23,0.30,0.48,0.42,Alameda
3,2014,0.46,0.53,0.60,0.57,0.48,0.27,0.17,0.14,0.20,0.27,0.48,0.79,0.41,Alameda
4,2015,0.83,0.82,0.73,0.59,0.50,0.41,0.21,0.16,0.14,0.20,0.49,0.59,0.47,Alameda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2017,0.87,0.95,0.91,0.88,0.76,0.55,0.38,0.23,0.16,0.20,0.45,0.47,0.56,Yolo
73,2018,0.60,0.58,0.68,0.67,0.50,0.38,0.23,0.13,0.11,0.31,0.30,0.57,0.42,Yolo
74,2019,0.73,0.85,0.90,0.86,0.77,0.58,0.41,0.27,0.19,0.15,0.17,0.63,0.54,Yolo
75,2020,0.69,0.64,0.56,0.52,0.44,0.31,0.16,0.13,0.12,0.10,0.28,0.45,0.37,Yolo
76,2021,0.50,0.55,0.53,0.45,0.35,0.20,0.12,0.10,0.12,0.32,0.64,0.71,0.38,Yolo